<h3 class="text-center">Affiliate Marketing 101</h3>

<h5>What is affiliate marketing?</h5>
<p>Affiliate marketing is when you promote someone elses product and get a commission. Simply put, you get paid when somone buys the product from you referring them. The affiliate link is a link given by the company which has a unique identifier so when someone clicks it, 
    the company knows you sent them. They will then pay you a commission, which could be anywhere from a few percent of the sale to €100's. It really depends on the product and company as some products cost more than others and others have a monthly subscription. 
</p>

<h5>Great! How do I start?</h5>
<p>To start with, go to Google and search "affiliate programs". You will find many. Find one that suits your audiences niche and give them appropriate content. It would make sense to promote dog toys to a dog blog.</p>
<h5>Affiliate Programs</h5>
<ul class="list-group">
    <li class="list-group-item">Amazon</li>
    <li class="list-group-item">BlueHost</li>
    <li class="list-group-item">Shopify</li>
    <li class="list-group-item">ThriveThemes</li>
    <li class="list-group-item">Wordpress</li>
    <li class="list-group-item">Squarespace</li>
    <li class="list-group-item">Webflow</li>
    <li class="list-group-item">Wix</li>
    <li class="list-group-item">ClickBank</li>
    <li class="list-group-item">ClickFunnels</li>
    <li class="list-group-item">GoDaddy</li>
    <li class="list-group-item">Hostinger</li>
    <li class="list-group-item">Teachable</li>
    <li class="list-group-item">GetResponse</li>
    <li class="list-group-item">SEMRush</li>
    <li class="list-group-item">QuickBooks</li>
    <li class="list-group-item">TransUnion</li>
    <li class="list-group-item">Binance</li>
    <li class="list-group-item">CoinBase</li>
    <li class="list-group-item">Twitch</li>
</ul>
<a href="https://adamenfroy.com/best-high-paying-affiliate-programs">Find more affiliate programs here</a>
<p>And the list goes on... We're not here to tell you about every program, just to give you an introduction. There are many people out there who have essentially made an introduction to affiliate marketing online course and sell it for crazy amounts! We here at You're an Entrepreneur are here to kick start 
    your online and offline business career. 
</p>

<h5>Savage! How do I promote these?</h5>
<p>There are many strategies, the best one being to start a website/blog centered around a niche and have content that relates to what you`re promoting. When you create a blog, with WordPress or the likes, you`re going to need to drive traffic to your blog so people will interact with your affiliate links. There are two strategies to get traffic,
    paid and organic. Organic could be the hardest to get going but will likely have the longest running rewards. You`ll need to do SEO. SEO involves creating keyword centric content and having good quality backlinks. SEO and Backlinks are beyond the scope of this tutorial, but if you want to learn more,
    check out Youtube and Udemy. You could also, pay for traffic. You could pay Google to drive traffic with Google Ads or Facebook. Facebook gets more views but you might not get much clicks. We recommend "Google Ads". Search Google Ads, put in your website and credit card details and off you go. 
</p>

<p>There are alternative methods, including sending mass email and Social Media. You could use Pinterest LinkedIn, or Facebook to promote your links. </p>