<footer id="sticky-footer" class="py-4 bg-dark text-white-50">

    
    <h3 class="text-center b">Useful Links</h3>
    <ul>
           
        <li> <a routerLink='/business' class="footer-links">Business</a></li>
        <li>
                <a routerLink='/programming' class="footer-links">Programming</a>
        </li>
        <li>
                <a routerLink='/resources' class="footer-links">Resources</a>
        </li>
    </ul>
   
    
   


    <div class="container text-center f">
       
    <br>
      <small class="w">&copy; 2020 You're An Entrepreneur</small>
    </div>
  </footer>