.bg-dark{
    background-color: #b67a03!important;
}

.w{
    display: block;
    margin: auto;
    color: white;
    text-align: center; 
}

.footer-links{
    color:  white;
    text-decoration: none;
    display: block;

}

a.footer-links:hover{
    color: black;   
}

ul{
    padding: 0;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.b{
    color: black;
}