@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.navbar-brand{
    font-family: 'Open Sans', sans-serif;
}

.megamenu {
    position: static;
  }

  .b{
      background-color: #b67a03 !important;
  }
  
  .megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }
.f{
    font-family: "FaktSoft", Helvetica, Arial, sans-serif!important;
}  

.w{
    color: white;   
}

.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.ib{
  display: inline-block;
  margin: 5px;
}


.u{
  color: blue!important;
}

.bb{
  color: blue !important;
}


a.u:hover{
  color: black!important;
}

a.bb:hover{
  color: black !important;
}