<div class="jumbotron">
    <h3 class="text-center">You're an Entrepreneur</h3>
    

    <hr>
    <p class="text-center">Your home of entrepreneurship and business strategy.</p>
</div>

<img src="../../../assets/Entrepreneurship (1).jpg" alt="" class="entre">


<h3 class="text-center mt-5">Bringing out the Entrepreneur in you</h3>
<p>Do you link being told what to do? Well, depends, but I know for sure I don't like being bossed around or told what I can and can't do. I've had three main managers over my past 3 jobs and each one of them didn't treat me right. Being screamed at, looked down upon and being told when I can eat or go to the toilet'
    are just some of the things I must deal with when undergoing the traditional 9 - 5. I've had many ideas for businesses and with some of them being mildly successful, others not so much, I've compiled the list of my best ideas here for you. 
</p>

<p>Business ideas are common, what isn't are good or exceptional business ideas. I am mainly interested in businessnes that give passive income (income that comes in without you doing much after you've invested some initial time and money), or commission income I earn for promoting or selling a product. What I like about passive income
    and commission is, they are scalable. What I mean, is, there is room for growth and the sky is the limit. When working a 9 - 5, be it a corporate job or self employment, you are limited in how much you earn as you can only work so many hours in a day, normally 8 (without overtime)
    means you work 40 hours a week, you multiply 40 hours by the amount you earn per hour to get your weekly wage. Of course, you can trade more hours and even increase the amount you earn per hour, but increases in hourly rates normally comes with extra responsibilities and stress.
</p>

<p>
    So, what is the alternative? The alternative to self employment or the 9 - 5, is a business. A business is simply a system that earns money through the selling of a product or a service. Some businesses sell products ans services. Some businesses sell items at a markup, others 
    charge a monthly rate or weekly or set time constraints. You choose what suits you. I'm particularly increased in recurring/passive income by charging a monthly rate as, the income is predictable and highly scalable. A happy customer is a returning customer. Business is all about
    making your customers happy and the happier you make them the more room for growth you have via word of mouth marketing and repeats. 
</p>

<p>For sure, we all want the money that comes from a business but some people don't want to invest the time or money. It is not impossible to start a business on limited funds but the more you have the more you have to invest and in turn get bigger rewards.</p>
<h5>Requirements for wealth:</h5>
<ol>
    <li>Money</li>
    <li>Time</li>
    <li>Relationships</li>
</ol>

<img src="../../../assets/8-Signs-Youre-An-Entrepreneur.jpg" alt="" class="entre">