<div class="jumbotron">
    <h3 class="text-center">You're an Entrepreneur</h3>
    

    <hr>
    <p class="text-center">Your home of entrepreneurship and business ideas.</p>
</div>

<img src="../../../assets/Entrepreneurship (1).jpg" alt="" class="entre">


<h3 class="text-center mt-5">Bringing out the Entrepreneur in you</h3>
<p>Do you like being told what to do? Well, depends, but I know for sure I don't like being bossed around or told what I can and can't do. I've had three main managers over my past 3 jobs and each one of them didn't treat me right. Being screamed at, looked down upon and being told when I can eat or go to the toilet'
    are just some of the things I must deal with when undergoing the traditional 9 - 5. I've had many ideas for businesses and with some of them being mildly successful, others not so much, I've compiled the list of my best ideas here for you. 
</p>

<p>Business ideas are common, what isn't are good or exceptional business ideas. I am mainly interested in businesses that give passive income (income that comes in without you doing much after you've invested some initial time and money), or commission income I earn for promoting or selling a product. What I like about passive income
    and commission is, they are scalable. What I mean, is, there is room for growth and the sky is the limit. When working a 9 - 5, be it a corporate job or self employment, you are limited in how much you earn as you can only work so many hours in a day, normally 8 (without overtime)
    means you work 40 hours a week, you multiply 40 hours by the amount you earn per hour to get your weekly wage. Of course, you can trade more hours and even increase the amount you earn per hour, but increases in hourly rates normally comes with extra responsibilities and stress.
</p>

<p>
    So, what is the alternative? The alternative to self employment or the 9 - 5, is a business. A business is simply a system that earns money through the selling of a product or a service. Some businesses sell products ans services. Some businesses sell items at a markup, others 
    charge a monthly rate or weekly or set time constraints. You choose what suits you. I'm particularly interested in recurring/passive income by charging a monthly rate as, the income is predictable and highly scalable. A happy customer is a returning customer. Business is all about
    making your customers happy and the happier you make them the more room for growth you have via word of mouth marketing and repeats. 
</p>

<p>For sure, we all want the money that comes from a business but some people don't want to invest the time or money. It is not impossible to start a business on limited funds but the more you have the more you have to invest and in turn get bigger rewards.</p>
<h5>Requirements for wealth:</h5>
<ol>
    <li>Money</li>
    <li>Time</li>
    <li>Relationships</li>
</ol>
<p>
    An entrepreneur takes risks. This can be in two main forms, time or money. What is good about risking money is it can be replaced. Time cannot. Nearly all of the most successful entrepreneurs you know were years in the making and it's only the result you see, not the long nights
    and days of tireless working. Skills pay the bills. You should always be focusing on improving your skills to the point where you implement them into a business. You probably will fail the first few times but it good to learn from mistakes and become the best version of yourself.
    Chase exellence in all areas of your life. Your partner, skills, mind and body. It's good to go workout in the gym or go for a run to get them endorphins flowing. There's nothing better than the feeling of blood flowing through your muscles after a hard workout. 
</p>

<div class="fluid-wrapper">
<div class="bus-grid">
    <div class="bus1">
        <img src="../../../assets/bus1.jpg" alt="" class="img1">
    </div>
    <div class="bus1">
        <img src="../../../assets/bus2.jpg" alt="" class="img1">
    </div>
    <div class="bus1">
        <img src="../../../assets/bus4.jpg" alt="" class="img1">
    </div>
    <div class="bus1">
        <img src="../../../assets/bus3.jpg" alt="" class="img1">
    </div>
</div>
</div>
<h3 class="text-center">Business Posts</h3>

<div class="row">
    <div class="col-sm-12 col-md-4">
    <div class="card">
            <img class="card-img-top" src="../../../assets/bus1.jpg" alt="Affiliate Marketing">
            <div class="card-body">
              <h5 class="card-title">Affiliate Marketing</h5>
              <p class="card-text">Find out more about how to do affiliate marketing.</p>
              <a routerLink="/blog/business/affiliate-marketing" class="btn btn-primary btn-block">View Post</a>
            </div>
    </div>    
    </div>  
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/courrses.png" alt="Affiliate Marketing">
                    <div class="card-body">
                      <h5 class="card-title">Online Courses</h5>
                      <p class="card-text">Find out more about how to do online courses.</p>
                      <a routerLink="/blog/business/online-courses" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/books.jpg" alt="Affiliate Marketing">
                    <div class="card-body">
                      <h5 class="card-title">Books/E-Books</h5>
                      <p class="card-text">Find out more about how to sell and market books.</p>
                      <a routerLink="/blog/business/books-ebooks" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/service.png" alt="Service Artbitrage">
                    <div class="card-body">
                      <h5 class="card-title">Service Arbitrage</h5>
                      <p class="card-text">Find out more about how to do service artbitrage</p>
                      <a routerLink="/blog/business/service-arbitrage" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/tshirt.jpg" alt="T Shirt Printing">
                    <div class="card-body">
                      <h5 class="card-title">T Shirt Printing</h5>
                      <p class="card-text">Find out more about how to do T Shirt printing.</p>
                      <a routerLink="/blog/business/t-shirt-printing" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/billboards.jpg" alt="Digital Billboards">
                    <div class="card-body">
                      <h5 class="card-title">Digital Billboards</h5>
                      <p class="card-text">Find out more about how to set up digital billboards.</p>
                      <a routerLink="/blog/business/digital-billboards" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>  
</div>



<img src="../../../assets/8-Signs-Youre-An-Entrepreneur.jpg" alt="" class="entre"/>
<img src="../../../assets/how-much-money-should-my-startup-raise.width-800.png" alt="" class="entre">
<img src="../../../assets/types.jpg" alt="" class="entre">


<div class="video-container">
    <iframe class="bookvid" src="https://www.youtube.com/embed/Dk9mcJtIuCs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>