<h3 class="text-center">Business Posts</h3>

<div class="row">
    <div class="col-sm-12 col-md-4">
    <div class="card">
            <img class="card-img-top" src="../../../assets/bus1.jpg" alt="Affiliate Marketing">
            <div class="card-body">
              <h5 class="card-title">Affiliate Marketing</h5>
              <p class="card-text">Find out more about how to do affiliate marketing.</p>
              <a routerLink="/blog/business/affiliate-marketing" class="btn btn-primary btn-block">View Post</a>
            </div>
    </div>    
    </div>  
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/courrses.png" alt="Affiliate Marketing">
                    <div class="card-body">
                      <h5 class="card-title">Online Courses</h5>
                      <p class="card-text">Find out more about how to do online courses.</p>
                      <a routerLink="/blog/business/online-courses" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/books.jpg" alt="Affiliate Marketing">
                    <div class="card-body">
                      <h5 class="card-title">Books/E-Books</h5>
                      <p class="card-text">Find out more about how to sell and market books.</p>
                      <a routerLink="/blog/business/books-ebooks" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/service.png" alt="Service Artbitrage">
                    <div class="card-body">
                      <h5 class="card-title">Service Arbitrage</h5>
                      <p class="card-text">Find out more about how to do service artbitrage</p>
                      <a routerLink="/blog/business/service-arbitrage" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/tshirt.jpg" alt="T Shirt Printing">
                    <div class="card-body">
                      <h5 class="card-title">T Shirt Printing</h5>
                      <p class="card-text">Find out more about how to do T Shirt printing.</p>
                      <a routerLink="/blog/business/t-shirt-printing" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>
    <div class="col-sm-12 col-md-4">
            <div class="card">
                    <img class="card-img-top" src="../../../assets/billboards.jpg" alt="Digital Billboards">
                    <div class="card-body">
                      <h5 class="card-title">Digital Billboards</h5>
                      <p class="card-text">Find out more about how to set up digital billboards.</p>
                      <a routerLink="/blog/business/digital-billboards" class="btn btn-primary btn-block">View Post</a>
                    </div>
            </div>    
    </div>  
</div>